{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Success:">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </svg>
    <div>
      {{message}}
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

{% if name %}
    <h1>Database Updated!!</h1>
    <br/>
    
    <table class="table table-sm table-dark table-striped-columns table-hover">
        <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">E-Mail</th>
              <th scope="col">Favorite Color</th>
              <th scope="col"> </th>


            </tr>
          </thead>
        {% for our_user in our_users %}
          <!-- <tbody class="table-group-divider"> -->
            <tr>
                <td>{{our_user.id}}</td>
                <td><a href="{{url_for('update', id=our_user.id)}}">{{our_user.name}}</a></td>
                <td>{{our_user.email}}</td>
                <td>{{our_user.fav_color}}</td>
                <td><a href="{{url_for('delete', id=our_user.id)}}">Delete</a></td>

              </tr>
          <!-- </tbody> -->
    
    {% endfor %}
    </table>
    

    <br/>


{% else %}
    <h1> Add your profile!</h1>
    <br/>
    <div class="shadow-sm p-3 mb-5 bg-dark text-white rounded">
        <form method="POST">
                {{form.hidden_tag()}}

                <!-- name -->
                <i class="fa-solid fa-id-card text-info" ></i>
                {{form.name.label(
                    class="form-label")}}
                {{form.name(
                    class='form-control')}}
                <br/>

                <!-- username -->
                <i class="fa-solid fa-user text-info" ></i>
                {{form.username.label(
                  class="form-label")}}
                {{form.username(
                  class='form-control')}}
                <br/>

                <!-- email -->
                <i class="fa-solid fa-envelope text-info" ></i>
                {{form.email.label(
                    class="form-label")}}
                {{form.email(
                    class='form-control')}}
                <br/>

                 <!-- password -->
               <i class="fa-solid fa-key text-warning"></i>

                 {{form.password_hash.label(
                  class="form-label")}}
              {{form.password_hash(
                  class='form-control')}}
              <br/>

               <!-- password -->
               <i class="fa-solid fa-key text-warning"></i>
               {{form.password_hash2.label(
                class="form-label")}}
            {{form.password_hash2(
                class='form-control')}}
            <br/>


                <!-- fav_color -->
                <i class="fa-solid fa-palette text-info" ></i>
                {{form.fav_color.label(
                  class="form-label")}}
              {{form.fav_color(
                  class='form-control')}}
              <br/>


                <!-- submit -->
                {{form.submit(
                    class="btn btn-info"
                )}}

        </form>
    </div>
<br/><br/><br/>
<table class="table table-sm table-dark table-striped-columns table-hover">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Username</th>
          <th scope="col">E-Mail</th>
          <th scope="col">Password</th>
          <th scope="col">Favorite Color</th>
          <th scope="col"> </th>

        </tr>
      </thead>
    {% for our_user in our_users %}
      <!-- <tbody class="table-group-divider"> -->
        <tr>
            <td>{{our_user.id}}</td>
            <td><a href="{{url_for('update', id=our_user.id)}}">{{our_user.name}}</a></td>
            <td>{{our_user.username}}</td>
            <td>{{our_user.email}}</td>
            <td>{{our_user.password_hash}}</td>
            <td>{{our_user.fav_color}}</td>
            <td><a href="{{url_for('delete', id=our_user.id)}}">Delete</a></td>

          </tr>
      <!-- </tbody> -->

{% endfor %}
</table>

{% endif %}


{% endblock %}