{% extends 'base.html' %}

{% block content %}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="success" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="warning" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
    <symbol id="danger" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>
  
{% for message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ message[0] }} d-flex align-items-center alert-dismissible fade show" role="alert">
    <svg width="24" height="24" class="bi flex-shrink-0 me-2" role="img" aria-label="{{message[0] | capitalize}}:"><use xlink:href="#{{message[0]}}"/>
 </svg>
    <div>
      {{ message[1] }}
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

<h1>Dashboard</h1>
<h3>You are logged in, {{ current_user.name }}!</h3>
<br/>
<div class="card shadow-sm p-4 mb-5 bg-dark rounded" >
  <!-- <div class="card"> -->
  <div class="card-header container">
    <div class="row">
      <div class="col-10 text-white">
        <h4>User Profile</h4>
      </div>
      <div class="col">
        <a href="{{url_for('update', id=current_user.id)}}" class="btn btn-outline-warning btn-sm"><i class="fa-solid fa-user-pen"></i> Edit Profile</a>
      </div>
    </div>
  </div>
  <div class="card-body ">
    <!-- <h5 class="card-title">About User</h5> -->
    <p class="card-text">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <div class="container text-left text-white">
              <div class="row">
                <div class="col-4 text-muted">
                  <i class="fa-solid fa-user text-info" ></i> <strong>Username:</strong>
                </div>
                <div class="col-5 fw-bold text-white">
                  {{ current_user.username }}
                </div>
            </div>

            <div class="row">
                <div class="col-4 text-muted">
                  <i class="fa-solid fa-id-card text-info" ></i> <strong>User ID:</strong>
                </div>
                <div class="col-5 fw-bold text-white">
                  {{ current_user.id }}
                </div>
            </div>

            <div class="row">
                <div class="col-4 text-muted">
                  <i class="fa-solid fa-envelope text-info" ></i> <strong>Email:</strong>
                </div>
                <div class="col-5 fw-bold text-white">
                  {{ current_user.email }}
                </div>
            </div>
              
            <div class="row">
                <div class="col-4 text-muted">
                  <i class="fa-regular fa-calendar text-info" ></i> <strong>Date Joined:</strong>
                </div>
                <div class="col-5 fw-bold text-white">
                  {{ current_user.date_added }}
                </div>
            </div>

            <div class="row">
                <div class="col-4 text-muted">
                  <i class="fa-solid fa-palette text-info" ></i> <strong>Favorite Color:</strong>
                </div>
                <div class="col-5 fw-bold text-white">
                  {{ current_user.fav_color }}
                </div> 
            </div>

            <div class="row">
              <div class="col-4 text-muted">
                <i class="fa-solid fa-image-portrait text-info" ></i> <strong>Pfp:</strong>
              </div>
              <div class="col-5 fw-bold text-white">
                {{ current_user.profile_pic }}
              </div> 
          </div>

            <br/>
            <hr>
            <div class="text-muted">
              <i class="fa-solid fa-circle-info text-info" ></i> <strong>About Author</strong>
            <p class="text-white" align="justify">{{ current_user.about_author }}</p>
            </div>
            
            <br/>

            <div class="row">
              <div class="col-auto text-muted">
                <a href="{{ url_for('logout') }}" class="btn btn-outline-success"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
              </div>
              <div class="col-auto fw-bold text-white">
                <a href="{{ url_for('delete', id=current_user.id) }}" class="btn btn-outline-danger btn"><i class="fa-solid fa-trash-can"></i> Delete Profile</a>
              </div>

            </div>

          </div>
        </div>
          <div class="col d-flex align-items-center justify-content-center">
            <img class="rounded-circle" src="{{ url_for('static', filename='images/defaultbluepink.png') }}" width="150">
          </div>
        </div> 
          
          
      </div>
    </div>
  </p>
  </div>
</div>



{% endblock %}