{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Success:">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </svg>
    <div>
      {{message}}
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

{% if name %}
    <h1>Hello {{ name }}!</h1>
    <br/>
    <img src = "{{url_for('static', filename='images/Techblog01.jpg')}}" width=600>
    <br/>
    <p id="demo"><a href="https://www.freepik.com/free-vector/blogging-illustration-concept_6192594.htm#query=content%20writer&position=3&from_view=keyword">Image by storyset</a> on Freepik</p>
  <script src="{{url_for('static', filename='js/myfile.js')}}"></script>

{% else %}
    <h1> Add your details here!</h1>
    <br/>
    <form method="POST">
            {{form.hidden_tag()}}

            {{form.name.label(
                class="form-label")}}
            {{form.name(
                class='form-control')}}
            <br/>
            {{form.submit(
                class="btn btn-secondary"
            )}}

    </form>

{% endif %}


{% endblock %}